In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sn

df = pd.read_csv('titanic.csv')
df = df.drop(['PassengerId'], axis=1)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df['Survived'].corr(df['Age'])

-0.0772210945721776

In [3]:
df['Sex'].str.get_dummies().corrwith(df['Survived']/df['Survived'].max())

female    0.543351
male     -0.543351
dtype: float64

In [7]:
genders = {"male": 1, "female": 0}
data = [train_df, test_df]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

NameError: name 'train_df' is not defined

In [6]:
import seaborn as sn

sn.heatmap(df.corr(), annot=True)
plt.show()

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'